@font-face {
    font-family: "Satoshi";
    src: url("./Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-Bold";
    src: url("./Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf");
    font-weight: 800;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


:root {
    --primary: #000;
    --secondary: #F0F0F0;
}

.preloader{
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 999999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader h1 {
    font-family: "Satoshi-Bold";
    font-size: clamp(40px, 7vw, 80px);
    letter-spacing: 2px;
}
