@media (max-width:1469px) {
    .hamburger {
        display: flex;
    }

    .access-area {
        display: none;
    }

    .search-icon {
        display: flex;
    }
     .mob{
        width:  clamp(22px, 3vw, 32px);
    }

    .search {
        display: none;
    }

    .cart-profile {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .comp-name {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .comp-name h1 {
        font-size:clamp(30px, 6vw, 70px)
    }

    .hamburger img {
        width: clamp(20px, 3vw, 60px);
        height: clamp(20px, 3vw, 60px);
    }
     .navbar {
        padding: 20px 0;
    }
     .productSection {
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .productImages {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

  .verCard{
    flex: 0 0 180px;   /* ya jitni width chahiye */
    height: 180px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: .3s;
}

.verticalSlider{
    flex-direction: row;
    gap: 20px;
    width: 90%;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    height: 200px;
}

    .verCard {
        background-color: #EFF0EF;
    }
    .card{
        height: 65vw;
        width: 90%;
        margin: auto;
        order: -1;
    }
    .productDetails{
        width: 100%;
        padding: 0 20px;
    }
    .prodHead{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .sizes {
    gap: 10px;
}
.size{
    width: 80px
}

.update {
    padding: 40px 10px;
    flex-direction: column;
    gap: 20px;
} 
.leftUpdate{
    width: 100%;
    align-items: center;
}
.rightUpdate{
    width: 100%;
}
.footerArea {
    flex-direction: column;
}
.leftFooterArea{
    width: 100%;
}
.rightFooterArea{
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.rightGrid{
    gap: 10px;
}
.footerLast{
    flex-direction: column;
    gap: 20px;
}

}

